<nav class="navbar navbar-expand-lg bg-light border-bottom border-dark">
  <div class="container-fluid">
    <%# <a class= href="#">Twitter clone</a> %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1 class="title"> Yelp </h1>
    <% end %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
